@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 
body,html{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    font-family: 'Gilroy';
    background-color: #FBF1DF;
}

.header{
    /* padding: 1px; */
    background: linear-gradient(180deg, #D23B34 0%, #B63334 100%);
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.hamburger_menu{
    width: 100%;
}

#menu__toggle {
    display: none;
}

.navbar{
    display: flex;
    z-index: 3;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 20px 20px;
}

.nav_left{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.nav_right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}

.nav{
    display: flex;
    padding: 0;
    align-items: center;
    font-weight: bold;
}

.nav_item{
    display: none;
    list-style-type: none;
}

.recipe_nav_item{
    position: absolute;
    list-style-type: none;
    right: 45%;
    z-index: 5;
}

.item_1{
    margin-left: 10%;
}

.nav_link{
    font-size: 50px;
}

.nav_link:hover{
    border-bottom: solid #FFC66C;;
}

.nav_number{
    width: 212px;
    height: 47px;

    background: linear-gradient(144.87deg, #099F33 4.93%, rgba(113, 255, 152, 0.42) 118.58%);
    border-radius: 0px 50px;
    text-align: center;
    color: white;
    font-size: 18px;
    z-index: 2;
}
.nav_number_p{
    margin: 14px 0 13px 0;
}

.nav_icon{
    display: inline-block;

}

.nav_dropdown{
    margin-right: 40px;
}



.nav_lang{
    color: white;
    font-size: 16px;
    background: none;
    border: none;
}

.nav_lang:hover {
    cursor: pointer;
}

.nav_lang_cont{
    display: none;
}

.nav_dropdown:hover div{ 
    display: block;
    position: absolute;
}

.nav_lang_drop{
    width: 40px;
    font-size: 16px;
    border: 0;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.nav_lang_drop:hover{
    cursor: pointer;
}

.header_line{
    height: 43px;
    background-color: #BB9A6F;
}


/* content section */

@keyframes slideIn {
    0% {
      opacity: 0; /* Начальное состояние — текст невидимый */
      transform: translateY(-100%); /* Начальное состояние — текст вне видимой области сверху */
    }
    100% {
      opacity: 1; /* Конечное состояние — текст видимый */
      transform: translateY(0); /* Конечное состояние — текст расположен в исходной позиции */
    }
}

.recipe_title{
    font-size: 60px;
    text-align: center;
    animation: slideIn 1s ease-in-out;
}




@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
}

.recipe_img{
    display: block;
    max-width: 782px;
    max-height: 782px;
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
}

.cont_text_wrap{
    max-width: 785px;
    margin: 40px auto 0;
}

.recipe_text{
    font-size: 25px;
    font-weight: bold;
}

.recipe_paraph{
    font-size: 25px;
    margin-top: 0;
    line-height: 38px;
}

.recipe_under_text{
    display: block;
    font-size: 25px;
    margin: 30px 0 40px;
}

@keyframes slideRight {
    0% {
      opacity: 0; /* Начальное состояние — текст невидимый */
      transform: translateX(-100%); /* Начальное состояние — текст вне видимой области слева */
    }
    100% {
      opacity: 1; /* Конечное состояние — текст видимый */
      transform: translateX(0); /* Конечное состояние — текст расположен в исходной позиции */
    }
}

.recipe_text, .recipe_paraph, .recipe_under_text{
    opacity: 0; 
    animation: slideRight 1s ease-in-out; 
    animation-fill-mode: forwards;
}



/* end section content */

.recipe_footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 18px 10px;
    text-align: center;
    border-top: solid #0A1429;
}

.footer_text{
    display: flex;
    justify-content: center;
    font-size: 19px;
    white-space: nowrap;
}

.footer_icon{
    margin: 0 5px;
    max-width: 23px;
    max-height: 23px;
}

.footer_icon_wrap{
    display: flex;
    margin-top: 15px;
}

.footer_link{
    max-width: 44px;
    max-height: 44px;
    margin-left: 28px;
}

.footer_link:first-child{
    margin-left: 0;
}

.footer_recipe_icon{
    max-width: 44px;
    max-height: 44px;
}


@media screen and (max-width: 1380px){

}

@media (max-width: 1200px){
    .nav_number{
        display: none;
    }
    .nav_right{
       width:  20%;
    }
    .nav_left{
        width: 90%;
        margin-right: 30px;
    }
    .nav{
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 900px){
    .recipe_nav_item{
        right: 35%;
    }
    .navbar{
        display: block;
    }
    .nav_right{
        display: none;
    }
    .nav_left{
        width: 90%;
        justify-content: space-between;
    }
    .nav{
        width: 100%;
    }
    .recipe_footer{
        justify-content: center;
    }
    .footer_text{
        white-space: normal;
    }
    .footer_recipe_icon{
        width: 24px;
        height: 24px;
    }
}

@media(max-width: 800px){
    .nav_left{
        width: 100%;
    }
    .hamburger_menu{
        margin-right: 20px;
    }
    .cont_text_wrap{
        text-align: center;
    }
    .recipe_footer{
        display: block;
    }
    .footer_icon_wrap{
        display: flex;
        justify-content: center;
    }
}



@media(max-width: 700px) {
    .item_1{
        margin-left: 0;
    }
    .recipe_nav_item{
        display: none;
    }
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 500;
      }
      /* добавляем "гамбургер" */
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    /* контейнер меню */
    .nav {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #FFE5BB;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 10;
    }
    /* элементы меню */
    .nav_item {
        display: block;
        padding: 12px 24px;
        color: #FFFFFF;
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .nav_item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .nav {
        visibility: visible;
        left: 0;
      }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .nav {
    transition-duration: .25s;
    }
    .nav_item {
    transition-duration: .25s;
    }

    .header_text{
        z-index: 1;
    }
}

@media(max-width: 600px){

    .recipe_img{
        display: none;
    }
    .recipe_title{
        font-size: 30px;
    }
    .recipe_text{
        font-size: 20px;
    }
    .recipe_paraph{
        font-size: 20px;
    }
}

@media(max-width: 500px){
}


@media(max-width: 400px){
}

